*{margin: 0;padding: 0;}
.nav {
    width:100%;
    height:62px;
    position: absolute;
    top: 0;
    left: 0;
    z-index:10;
}
body{
    margin:0;
    touch-action: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display:none
}
div#canvas-frame {
    border: none;
    cursor: pointer;
    width: 100%;
    height:100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;

}
div#canvas-frame  canvas{
    width: 100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
}
/*动物园hover*/
div#canvas-frame .zoo{
    min-width:50px;
    height:20px;
    line-height:20px;
    text-align:center;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.6);
    position:absolute;
    font-size:12px;
    color:#EEEEEE;
    font-family: "微軟雅黑";
    padding:0 10px;
    display: none;
    z-index:10;
}

.earth-bg{
    width: 100%;
    height:100%;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
}
/*.earth{*/
/*    width:500px;*/
/*    height:450px;*/
/*    !* background: red; *!*/
/*    position:absolute;*/
/*    top:50%;*/
/*    left:50%;*/
/*    transform: translate(-50%, -50%);*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    !* */
/*    background-image: url("../img/qiu.png");*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100% 100%;*/
/*    */
/*    margin-left:-655.5px;*/
/*    margin-top:-417px;*/
/*    display:none *!*/
/*}*/

.guide{
    width:100%;
    height:100%;
    background: url("../img/guide/mengban.png") no-repeat;
    background-size: 100% 100%; 
    position: relative;
    z-index: 20;
    /*display: none;*/
}
.guideBtn{
    display: none;
    width:170px;
    height:140px;
    position: absolute;
    right: 60px;
    bottom: 80px;
    background: url("../img/guide/guideBtn.png") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.guideBtn:hover{
    background: url("../img/guide/guideBtn-hover.png") no-repeat;
    background-size: 100% 100%;
}
.guideBg{
    width:1101px;
    height:695px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/guide/guide-bg.png") no-repeat;
    background-size: 100% 100%;
}
.guideClose{
    width:220px;
    height:68px;
    position: absolute;
    left: 50%;
    bottom: -58px;
    transform: translate(-50%, -50%);
    background: url("../img/guide/tiyan.png") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.guideClose:hover{ 
    background: url("../img/guide/tiyan_hover.png") no-repeat; 
    background-size: 100% 100%;
}
.guidePanda{
    width:171px;
    height:199px;
    position: absolute;
    left: 28%;
    top: -13%;
    background: url("../img/guide/laoshi-x.gif") no-repeat;
    background-size: 100% 100%;
}
.guidePanda span{
    width:285px;
    height:160px;
    position: absolute;
    right:-286px;
    top: 40px;
    
    background: url("../img/guide/biaoyu.png") no-repeat;
    background-size: 100% 100%;  
}

.label-baohu{
    width:171px;
    height:78px;
    position: absolute;
    background-image: url("../img/txt-baohu-bg1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
    margin-top: -78px;
    margin-left: -20px;
    transition: opacity .5s;
}
.label-baohu.active{
    background-image: url("../img/txt-baohu-bg1-hover.png");
}
.label-fanyu{
    width:171px;
    height:58px;
    position: absolute;
    background-image: url("../img/txt-fanyu-bg2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
    margin-top: -58px;
    margin-left: -20px;
    transition: opacity .5s;
}
.label-fanyu.active{
    background-image: url("../img/txt-fanyu-bg2-hover.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*标签跳转*/
.labelone-jump{
    display:block;
    width:171px;
    height:30px;
    position: absolute;
    top:0;
    right:0;
}
.labelTwo-jump{
    display:block;
    width:171px;
    height:30px;
    position: absolute;
    top:0;
    left:0;
}
.list-container{
    width:362px;
    height:calc(100% - 100px);
    position:absolute;
    top:62px;
    left:20px;
    display:none;
}
.list-container .list-title{
    width:362px;
    height:76px;
    background-image: url("../img/index/list-title.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:relative;
    margin-top:25px;
    cursor: pointer;
}

.list-title-icon{
    width: 94px;
    height: 97px;
    background-image: url("../img/index/list-title-icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: -16px;
    left: -4px;
}
.list-title-down{
    width: 21px;
    height: 11px;
    background-image: url("../img/list-down.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 20px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: transform 1s ;
    -moz-transition: transform 1s ;
    -ms-transition: transform 1s ;
    -o-transition: transform 1s ;
    transition: transform 1s;
}
.list-title-down.active{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

}
.list-container .list-box{
    width:362px;
    height:calc(100% - 120px);
    background-image: url("../img/index/list-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:relative;
    margin-top: 10px;
    padding:2px 0 20px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}
/*箭头*/
.list-turn-up-button{
    width:69px;
    height:21px;
    background-image:url("../img/index/list-up-button.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:absolute;
    bottom:9px;
    left:50%;
    margin-left:-34.5px;
    z-index: 10;
    cursor: pointer;
}
.div-china{
    width:317px;
    height:auto;
    margin: 20px auto 0;
}
.div-child-china{
    width:316px;
    height:55px;
    line-height: 55px;
    background-image: url("../img/index/list-li-china.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align:center;
    position: relative;
    cursor: pointer;
}
.div-child-china:hover .font-type{
    font-weight: bolder;
    color:#e9ac04;
}

.font-type{
    font-size:18px;
    color:#333333;
}

.slide-down-icon{
    display:inline-block;
    width:23px;
    height:13px;
    float: right;
    margin-right:10px;
    background-image: url("../img/index/slide-down-icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:absolute;
    right:20px;
    top:50%;
    margin-top:-6.5px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -ms-transition: transform 0.8s;
    -o-transition: transform 0.8s;
    transition: transform 0.8s;
}
.slide-down-icon.active{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}



.jd-box{
    width:292px;
    height:auto;
    margin: 0 auto;
    margin-top: 10px;
}
.font-type-down{
    width: 292px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    background-color: #95e6cb;
    border-radius: 16px;
    margin: 10px auto;
    position: relative;
    /*margin:10px 0;*/

}
.font-type-down:before{
    width:30px;
    height: 30px;
    content: "";
    display: block;
    position: absolute;
    left: 7px;
    top: 50%;
    margin-top: -15px;
    background-repeat: no-repeat;
    background-position: center;
}
.font-type-cd:before{
    background-image: url("../img/index/li-panda.png");
}
.font-type-djy:before{
    background-image: url("../img/index/li-djy.png");
}
.font-type-down a{
    display: block;
    width: 100%;
    font-size:14px;
    color:#333333;
    height: 100%;
    padding-left: 10px;
}
.font-type-down:hover{
    background-color: #FFFFFF;
}
.font-type-down:hover a{
    font-weight: bolder;
    color:#e9ac04;
}

.more-line{
    width:292px;
    height:12px;
    background-image: url("../img/index/more-line.png") !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 28px auto 23px;
}
.font-box{
    position: relative;
}
.more-font-box{
    width: 272px;
    height: 125px;
    float: right;
    border-left: 3px solid #95e6cb;
    margin-top: -10px;
    position: relative;
    padding-top: 10px;
    margin-bottom: 36px;
}
.font-other-type-down{
    width: 250px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    border-radius: 18px;
    float: right;
    background-color: #95e6cb;
    margin-bottom: 10px;
    position: relative;
}

.font-other-type-down a{
    display: block;
    width: 100%;
    font-size:12px;
    color:#333333;
    height: 100%;
}
.font-other-type-down:hover{
    background-color: #FFFFFF;
}
.font-other-type-down:hover a{
    font-weight: bolder;
    color:#e9ac04;
}
.font-other-type-down:before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 3px;
    vertical-align: middle;
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -1px;
    background-color: #95e6cb;

}

.other-line{
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    width: 285px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    position: relative;
}
.other-line:before{
    content: "";
    display: block;
    width: calc(50% - 42px);
    height: 1px;
    border-top: 1px dashed #FFFFFF;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
}
.other-line:after{
    content: "";
    display: block;
    width: calc(50% - 42px);
    height: 1px;
    border-top: 1px dashed #FFFFFF;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1px;
}
.other-zoo-box{
    width: 294px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.other-zoo{
    width: 92px;
    height: 37px;
    border-radius: 18px;
    float: left;
    margin-right: 8px;
    margin-bottom: 10px;

}
.other-zoo:nth-of-type(3n){
    margin-right: 0;
}
.other-zoo a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #333333;
    text-align: center;
    line-height: 37px;
    border-radius: 18px;
    background-color: #95e6cb;
    cursor: pointer;
}
.other-zoo:hover a{
    background-color: #FFFFFF;
    font-weight: bolder;
    color:#e9ac04;
}
.country-container{
    width:320px;
    min-height:1px;
    margin:20px auto;
}

.country-font{
    width:320px;
    height:36px;
    line-height:36px;
    margin:0 auto;
    margin-bottom: 10px;
}




.other-country{
    display: block;
    width:100%;
    height:100%;
    text-align: center;
    padding-left: 30px;
    font-size: 16px;
    color:#333333;
    background-color: #95e6cb;
    border-radius: 18px;
    position: relative;
}
.other-country:hover{
    background-color: #FFFFFF;
    font-weight: bolder;
    color:#e9ac04;
}
.other-country:before{
    content: '';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 43px;
    height:27px;
    top: 50%;
    margin-top: -13.5px;
    left: 20px;
}
.country-us:before{
    background-image: url("../img/index/us-icon.png");
}
.country-mexico:before{
    background-image: url("../img/index/mxg-icon.png");
}
.country-spain:before{
    background-image: url("../img/index/xby-icon.png");
}
.country-uk:before{
    background-image: url("../img/index/yg-icon.png");
}
.country-ger:before{
    background-image: url("../img/index/ger-icon.png");
}
.country-austria:before{
    background-image: url("../img/index/austria-icon.png");
}
.country-australia:before{
    background-image: url("../img/index/australia-icon.png");
}
.country-netherlands:before{
    background-image: url("../img/index/netherlands-icon.png");
}





.on{
    color:#e9ac04;
}
/*loading样式*/
.earth-loading-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1000;
}
.earth-loading{
    width: 481px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -240px;
}
.loadPanda{
    width:281px;
    height: 309px;
    background: url("../img/loading/loading.gif") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}
.progress{
    width:481px;
    height: 20px;
    background: url("../img/loading/jindutiao.png") no-repeat;
    background-size: 100% 100%;
}
.progressChange{
    width: 0;
    height: 100%;
    background: #2fd09a;
    border-radius: 7px;
    position: relative;
}
.Ydian{
    width:40px;
    height: 40px;
    position: absolute;
    right: -20px;
    bottom: -10px;
    background: url("../img/loading/dian.png") no-repeat;
    background-size: 100% 100%;
}
.Ydian span{
    position: absolute;
    right: 0px;
    top: -25px;
    color: #2fd09a;
    font-weight: 600;
}
.loadPic{
    width:144px;
    height: 32px;
    background: url("../img/loading/loading.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    margin-top: 30px;
    margin-top: 30px;
}

/*****重置滚动条样式******/

.mCSB_draggerRail{
    width:6px !important;
    background-color:#ffffff!important;
}
.mCSB_dragger_bar{
    background-color: #fed530!important;
    width:12px !important;
    height:12px !important;
    border-radius: 50% !important;
}

.mCustomScrollBox>.mCSB_scrollTools{
    height:96% !important;
    top:20px !important;
    right: 5px !important;
}
.mCSB_scrollTools .mCSB_dragger {
     height: auto !important;
}
.mCSB_inside>.mCSB_container {
    margin-right: 0 !important;
}
/*媒体查询*/

@media screen and (max-width:1280px){
    .list-container{
        width:322px;/*362*/
    }
    .list-container .list-title{
        width:322px; /*375*/
        height: 67px;
    }
    .list-container .list-box{
        width:322px; /*362*/
    }
    .div-china{
        width:300px; /*317*/
    }
    .div-child-china{
        width:100%;
    }
    .jd-box{
        width:300px;
    }
    .font-type-down{
        width: 280px;
    }
    .font-box{
        width: 280px;
        margin: 0 auto;
    }
    .more-font-box{
        width: 260px;
    }
    .font-other-type-down{
        width: 238px;
    }
    .country-container{
        width:300px;
    }
    .other-country{
        width:300px; /*320*/
    }
    .list-turn-up-button{
        bottom: 18px;
    }
}

/*!*高度*!*/
/*@media screen and (min-height:800px) and (max-height:909px){*/
/*    .list-container{*/
/*        height:750px; !*850*!*/
/*        !*top:43px;*!*/
/*    }*/
/*    .list-container .list-box{*/
/*        height:700px; !*735*!*/
/*    }*/
/*}*/
/*@media screen and (min-height:700px) and (max-height:799px) {*/
/*    .list-container{*/
/*        height:750px; !*850*!*/
/*        top:43px;*/
/*    }*/
/*    .list-container .list-box{*/
/*        height:600px; !*735*!*/
/*        top:100px;*/
/*    }*/
/*    .div-china{*/
/*    margin: 10px auto 0;*/
/*    }*/
/*    .more-line{*/
/*    margin: 15px auto 10px;*/
/*    }*/
/*    .other-country{*/
/*    margin:0 auto 5px;*/
/*    }*/
/*}*/
/*@media screen and (min-height:600px) and (max-height:699px){*/
/*    .list-container{*/
/*        height:650px; !*850*!*/
/*        top:43px;*/
/*    }*/
/*    .list-container .list-box{*/
/*        height:500px; !*735*!*/
/*        top:100px;*/
/*    }*/
/*    .div-china{*/
/*        margin: 10px auto 0;*/
/*    }*/
/*    .more-line{*/
/*        margin: 15px auto 10px;*/
/*    }*/
/*    .other-country{*/
/*        margin:0 auto 5px;*/
/*    }*/
/*}*/