*{
    margin: 0;
    padding: 0;
}
.nav {
    width:100%;
    height:0.62rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index:10;
}
.nav img{
    width: 100%;
}
body{
    margin:0;
    touch-action: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display:none 
}
div#canvas-frame {
    border: none;
    cursor: pointer;
    width: 100%;
    height:100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}
div#canvas-frame canvas{
    width: 100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
}
/*动物园hover*/
div#canvas-frame .zoo{
    min-width:0.5rem;
    height:0.2rem;
    line-height:0.2rem;
    text-align:center;
    border-radius: 0.2rem;
    background-color: rgba(0,0,0,0.6);
    position:absolute;
    font-size:0.12rem;
    color:#EEEEEE;
    font-family: "微軟雅黑";
    padding:0 0.1rem;
    display: none;
    z-index:10;
}
.earth-bg{
    width: 100%;
    height:100%;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
}
.guide{
    width:100%;
    height:100%;
    background: url("../img/guide/mengban.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 20;
   /*display: none;
    */
}
.guideBtn{
    display: none;
    width:1.7rem;
    height:1.4rem;
    position: absolute;
    right: 0.6rem;
    bottom: 0.8rem;
    background: url("../img/guide/guideBtn.png") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.guideBtn:hover{
    background: url("../img/guide/guideBtn-hover.png") no-repeat;
    background-size: 100% 100%;
}
.guideBg{
    width:57%;
    height:36.19vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/guide/guide-bg.png") no-repeat;
    background-size: 100% 100%;
}
.guideClose{
    width:2.2rem;
    height:0.68rem;
    position: absolute;
    left: 50%;
    bottom: -0.58rem;
    transform: translate(-50%, -50%);
    background: url("../img/guide/tiyan.png") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.guideClose:hover{
    background: url("../img/guide/tiyan_hover.png") no-repeat;
    background-size: 100% 100%;
}
.guidePanda{
    width:1.71rem;
    height:1.99rem;
    position: absolute;
    left: 28%;
    top: -1.14rem;
    background: url("../img/guide/laoshi-x.gif") no-repeat;
    background-size: 100% 100%;
}
.guidePanda span{
    width:2.85rem;
    height:1.6rem;
    position: absolute;
    right:-2.86rem;
    top: 0.4rem;
    background: url("../img/guide/biaoyu.png") no-repeat;
    background-size: 100% 100%;
}
.label-baohu{
    width:1.71rem;
    height:0.78rem;
    position: absolute;
    background-image: url("../img/txt-baohu-bg1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
    margin-top: -0.78rem;
    margin-left: -0.2rem;
    transition: opacity .5s;
}
.label-baohu.active{
    background-image: url("../img/txt-baohu-bg1-hover.png");
}
.label-fanyu{
    width:1.71rem;
    height:0.58rem;
    position: absolute;
    background-image: url("../img/txt-fanyu-bg2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
    margin-top: -0.58rem;
    margin-left: -0.2rem;
    transition: opacity .5s;
}
.label-fanyu.active{
    background-image: url("../img/txt-fanyu-bg2-hover.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*标签跳转*/
.labelone-jump{
    display:block;
    width:1.71rem;
    height:0.3rem;
    position: absolute;
    top:0;
    right:0;
}
.labelTwo-jump{
    display:block;
    width:1.71rem;
    height:0.3rem;
    position: absolute;
    top:0;
    left:0;
}
.list-container{
    width:3.62rem;
    height:calc(100% - 1rem);
    position:absolute;
    top:0.6rem;
    left:0.2rem;
    display:none;
}
.list-container .list-title{
    width:3.62rem;
    height:0.76rem;
    background-image: url("../img/index/list-title.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:relative;
    margin-top:0.25rem;
    cursor: pointer;
}
.list-title-icon{
    width: 0.94rem;
    height: 0.97rem;
    background-image: url("../img/index/list-title-icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: -0.16rem;
    left: -0.04rem;
}
.list-title-down{
    width: 0.21rem;
    height: 0.11rem;
    background-image: url("../img/list-down.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    margin-top: -0.05rem;
    right: 0.2rem;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: transform 1s ;
    -moz-transition: transform 1s ;
    -ms-transition: transform 1s ;
    -o-transition: transform 1s ;
    transition: transform 1s;
}
.list-title-down.active{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.list-container .list-box{
    width:3.62rem;
    height:calc(100% - 1rem);
    background-image: url("../img/index/list-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:relative;
    margin-top: 0.1rem;
    padding:0.02rem 0 0.2rem;
    box-sizing: border-box;
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
}
/*箭头*/

.list-turn-up-button{
    width:0.69rem;
    height:0.21rem;
    background-image:url("../img/index/list-up-button.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:absolute;
    bottom:-0.01rem;
    left:50%;
    transform: translateX(-50%);
    z-index: 10;
    cursor: pointer;
}
.list-content-box{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.div-china{
    width:3.17rem;
    height:auto;
    margin: 0.2rem auto 0;
}
.div-child-china{
    width:3.16rem;
    height:0.55rem;
    line-height: 0.55rem;
    background-image: url("../img/index/list-li-china.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align:center;
    position: relative;
    cursor: pointer;
}
.div-child-china:hover .font-type{
    font-weight: bolder;
    color:#e9ac04;
}
.font-type{
    font-size:0.18rem;
    color:#333333;
}
.slide-down-icon{
    display:inline-block;
    width:0.23rem;
    height:0.13rem;
    background-image: url("../img/index/slide-down-icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:absolute;
    right:0.3rem;
    top:50%;
    margin-top:-0.06rem;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -ms-transition: transform 0.8s;
    -o-transition: transform 0.8s;
    transition: transform 0.8s;
}
.slide-down-icon.active{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.jd-box{
    width:2.92rem;
    height:auto;
    margin: 0 auto;
    margin-top: 0.1rem;
}
.font-type-down{
    width: 2.92rem;
    height: 0.37rem;
    line-height: 0.37rem;
    text-align: left;
    background-color: #95e6cb;
    border-radius: 0.16rem;
    margin: 0.1rem auto;
    position: relative;
   /*margin:0.1rem 0;
    */
}
.font-type-down:before{
    width:0.29rem;
    height: 0.29rem;
    content: "";
    display: block;
    position: absolute;
    left: 0.07rem;
    top: 50%;
    margin-top: -0.15rem;
    background-repeat: no-repeat;
    background-position: center;
}
.font-type-cd:before{
    width: 0.24rem;
    height: 0.3rem;
    background-image: url("../img/index/li-panda.png");
    background-size: 100% 100%;
}
.font-type-djy{
    margin-top: 0;
}

.font-type-djy:before{
    background-image: url("../img/index/li-djy.png");
    background-size: 100% 100%;
}
.font-type-down a{
    display: block;
    width: 100%;
    font-size:0.14rem;
    color:#333333;
    height: 100%;
    padding-left: 0.7rem;
    position: relative;
}
.font-down-icon{
    display: block;
    width: 0.15rem;
    height: 0.09rem;
    background-image: url("../img/index/font-down-icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0.13rem;
    top: 50%;
    margin-top: -0.045rem;
    cursor: pointer;
    -webkit-transition: transform 0.8s ;
    -moz-transition: transform 0.8s ;
    -ms-transition: transform 0.8s ;
    -o-transition: transform 0.8s ;
    transition: transform 0.8s ;
}
.font-down-icon.active{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.font-type-down:hover{
    background-color: #FFFFFF;
}
.font-type-down:hover a{
    font-weight: bolder;
    color:#e9ac04;
}
.other-more{
    width: 2.92rem;
    height: 0.37rem;
    line-height: 0.37rem;
    text-align: left;
    background-color: #95e6cb;
    border-radius: 0.16rem;
    margin:0 auto;
    position: relative;
}
.other-more a{
    display: block;
    width: 100%;
    height: 100%;
    font-size:0.14rem;
    color:#333333;
    text-align: center;
}
.other-panda{
    width: 0.34rem;
    height: 0.4rem;
    background-image: url("../img/index/more-list-icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0.1rem;
    top: -0.08rem;
}
.other-more:hover{
    background-color: #FFFFFF;

}
.other-more:hover a{
    /*background-color: #FFFFFF;*/
    font-weight: bolder;
    color:#e9ac04;
}
.more-line{
    width:2.92rem;
    height:0.12rem;
    background-image: url("../img/index/more-line.png") !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0.28rem auto 0.23rem;
}
.font-box{
    position: relative;
}
.more-font-box{
    width: 2.72rem;
    height: 1.72rem;
    float: right;
    border-left: 0.03rem solid #95e6cb;
    margin-top: -0.1rem;
    position: relative;
    padding-top: 0.1rem;
    margin-bottom: 0.36rem;
}
.font-other-type-down{
    width: 2.5rem;
    height: 0.37rem;
    line-height: 0.37rem;
    text-align: left;
    border-radius: 0.18rem;
    float: right;
    background-color: #95e6cb;
    margin-bottom: 0.1rem;
    position: relative;
}
.font-other-type-down a{
    display: block;
    width: 100%;
    font-size:0.12rem;
    color:#333333;
    height: 100%;
    padding-left: 0.28rem;
}
.font-other-type-down:hover{
    background-color: #FFFFFF;
}
.font-other-type-down:hover a{
    font-weight: bolder;
    color:#e9ac04;
}
.font-other-type-down:before{
    content: '';
    display: inline-block;
    width: 0.2rem;
    height: 0.03rem;
    vertical-align: middle;
    position: absolute;
    left: -0.2rem;
    top: 50%;
    margin-top: -0.01rem;
    background-color: #95e6cb;
}
.other-line{
    font-size: 0.14rem;
    color: #FFFFFF;
    text-align: center;
    width: 2.85rem;
    height: 0.3rem;
    line-height: 0.3rem;
    margin: 0 auto;
    position: relative;
}
.other-line:before{
    content: "";
    display: block;
    width: calc(50% - 0.42rem);
    height: 0.01rem;
    border-top: 0.01rem dashed #FFFFFF;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.01rem;
}
.other-line:after{
    content: "";
    display: block;
    width: calc(50% - 0.42rem);
    height: 0.01rem;
    border-top: 0.01rem dashed #FFFFFF;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.01rem;
}
.other-zoo-box{
    width: 2.94rem;
    margin: 0 auto;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.other-zoo{
    width: 0.92rem;
    height: 0.37rem;
    border-radius: 0.18rem;
    float: left;
    margin-right: 0.08rem;
    margin-bottom: 0.1rem;
}
.other-zoo:nth-of-type(3n){
    margin-right: 0;
}
.other-zoo a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0.12rem;
    color: #333333;
    text-align: center;
    line-height: 0.37rem;
    border-radius: 0.18rem;
    background-color: #95e6cb;
    cursor: pointer;
}
.other-zoo:hover a{
    background-color: #FFFFFF;
    font-weight: bolder;
    color:#e9ac04;
}
.country-container{
    width:3.2rem;
    min-height:0.01rem;
    margin:0.2rem auto;
}
.country-font{
    width:3.2rem;
    height:0.36rem;
    line-height:0.36rem;
    margin:0 auto;
    margin-bottom: 0.1rem;
}
.other-country{
    display: block;
    width:100%;
    height:100%;
    text-align: left;
    padding-left: 0.84rem;
    font-size: 0.16rem;
    color:#333333;
    background-color: #95e6cb;
    border-radius: 0.18rem;
    position: relative;
}
.other-country:hover{
    background-color: #FFFFFF;
    font-weight: bolder;
    color:#e9ac04;
}
.other-country:before{
    content: '';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 0.43rem;
    height:0.27rem;
    top: 50%;
    margin-top: -0.135rem;
    left: 0.2rem;
}
.country-us:before{
    background-image: url("../img/index/us-icon.png");
}
.country-japan:before{
    background-image: url("../img/index/Japan-icon.png");
}
.country-russia:before{
    background-image: url("../img/index/Russia-icon.png");
}

.country-germany:before{
    background-image: url("../img/index/Germany-icon.png");
}
.country-franch:before{
    background-image: url("../img/index/French-icon.png");
}
.country-belgium:before{
    background-image: url("../img/index/Belgium-icon.png");
}
.country-puland:before{
    background-image: url("../img/index/Poland-icon.png");
}
.country-italy:before{
    background-image: url("../img/index/Italy-icon.png");
}
.country-danish:before{
    background-image: url("../img/index/Denmark-icon.png");
}
.country-finland:before{
    background-image: url("../img/index/Finland-icon.png");
}
.country-netherlands:before{
    background-image: url("../img/index/Netherlands-icon.png");
}
.country-malaysia:before{
    background-image: url("../img/index/Malaysia-icon.png");
}
.country-canada:before{
    background-image: url("../img/index/Canada-icon.png");
}
.country-korea:before{
    background-image: url("../img/index/Korea-icon.png");
}
.country-indonesia:before{
    background-image: url("../img/index/Indonesia-icon.png");
}
.country-thailand:before{
    background-image: url("../img/index/Thailand-icon.png");
}
.country-india:before{
    background-image: url("../img/index/India-icon.png");
}
.country-nepal:before{
    background-image: url("../img/index/Nepal-icon.png");
}
.country-singapore:before{
    background-image: url("../img/index/Singapore-icon.png");
}





.country-mexico:before{
    background-image: url("../img/index/Mexico-icon.png");
}
.country-spain:before{
    background-image: url("../img/index/Spain-icon.png");
}
.country-uk:before{
    background-image: url("../img/index/UK-icon.png");
}

.country-austria:before{
    background-image: url("../img/index/Austria-icon.png");
}
.country-australia:before{
    background-image: url("../img/index/Australia-icon.png");
}
.country-netherlands:before{
    background-image: url("../img/index/Netherlands-icon.png");
}
.on{
    color:#e9ac04;
}
/*loading样式*/
.earth-loading-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1000;
}
.earth-loading{
    width: 4.81rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    /*margin-top: -2.5rem;*/
    margin-left: -2.4rem;
}
.loadPanda{
    width:2.81rem;
    height: 3.09rem;
    background: url("../img/loading/loading.gif") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}
.progress{
    width:4.81rem;
    height: 0.2rem;
    background: url("../img/loading/jindutiao.png") no-repeat;
    background-size: 100% 100%;
}
.progressChange{
    width: 0;
    height: 100%;
    background: #2fd09a;
    border-radius: 0.07rem;
    position: relative;
}
.progress-loading{
    width: 1.62rem;
    height: 1.57rem;
    background-image: url("../img/loading/loading-icon.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: -1.51rem;
}
.Ydian{
    width:0.4rem;
    height: 0.4rem;
    position: absolute;
    right: -0.2rem;
    bottom: -0.1rem;
    background: url("../img/loading/dian.png") no-repeat;
    background-size: 100% 100%;
}
.Ydian span{
    position: absolute;
    right: 0rem;
    top: -0.25rem;
    color: #2fd09a;
    font-weight: 600;
}
.loadPic{
    width:1.44rem;
    height: 0.32rem;
    background: url("../img/loading/loading.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    margin-top: 0.3rem;
    margin-top: 0.3rem;
}
/*****重置滚动条样式******/
.mCSB_draggerRail{
    width:0.06rem !important;
    background-color:#ffffff!important;
}
.mCSB_dragger_bar{
    background-color: #fed530!important;
    width:0.12rem !important;
    height:0.12rem !important;
    border-radius: 50% !important;
}
.mCustomScrollBox>.mCSB_scrollTools{
    height:96% !important;
    top:0.2rem !important;
    right: 0.05rem !important;
}
.mCSB_scrollTools .mCSB_dragger {
    height: auto !important;
}
.mCSB_inside>.mCSB_container {
    margin-right: 0 !important;
}
/*媒体查询*/
/*@media screen and (max-width:12.8rem){*/
/*    .list-container{*/
/*        width:3.22rem;*/
/*   }*/
/*    .list-container .list-title{*/
/*        width:3.22rem;*/
/*        height: 0.67rem;*/
/*   }*/
/*    .list-container .list-box{*/
/*        width:3.22rem;*/
/*   }*/
/*    .div-china{*/
/*        width:3rem;*/
/*   }*/
/*    .div-child-china{*/
/*        width:100%;*/
/*   }*/
/*    .jd-box{*/
/*        width:3rem;*/
/*   }*/
/*    .font-type-down{*/
/*        width: 2.8rem;*/
/*   }*/
/*    .font-box{*/
/*        width: 2.8rem;*/
/*        margin: 0 auto;*/
/*   }*/
/*    .more-font-box{*/
/*        width: 2.6rem;*/
/*   }*/
/*    .font-other-type-down{*/
/*        width: 2.38rem;*/
/*   }*/
/*    .country-container{*/
/*        width:3rem;*/
/*   }*/
/*    .other-country{*/
/*        width:3rem;*/
/*   }*/
/*    .list-turn-up-button{*/
/*        bottom: 0.18rem;*/
/*   }*/
/*}*/


/*!*高度*!*/
/*@media screen and (min-height:800px) and (max-height:909px){*/
/*    .list-container{*/
/*        height:750px; !*850*!*/
/*        !*top:43px;*!*/
/*    }*/
/*    .list-container .list-box{*/
/*        height:700px; !*735*!*/
/*    }*/
/*}*/
/*@media screen and (min-height:700px) and (max-height:799px) {*/
/*    .list-container{*/
/*        height:750px; !*850*!*/
/*        top:43px;*/
/*    }*/
/*    .list-container .list-box{*/
/*        height:600px; !*735*!*/
/*        top:100px;*/
/*    }*/
/*    .div-china{*/
/*    margin: 10px auto 0;*/
/*    }*/
/*    .more-line{*/
/*    margin: 15px auto 10px;*/
/*    }*/
/*    .other-country{*/
/*    margin:0 auto 5px;*/
/*    }*/
/*}*/
/*@media screen and (min-height:600px) and (max-height:699px){*/
/*    .list-container{*/
/*        height:650px; !*850*!*/
/*        top:43px;*/
/*    }*/
/*    .list-container .list-box{*/
/*        height:500px; !*735*!*/
/*        top:100px;*/
/*    }*/
/*    .div-china{*/
/*        margin: 10px auto 0;*/
/*    }*/
/*    .more-line{*/
/*        margin: 15px auto 10px;*/
/*    }*/
/*    .other-country{*/
/*        margin:0 auto 5px;*/
/*    }*/
/*}*/